<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="servicebehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name ="Routing.RoutingServiceImpl"
      behaviorConfiguration ="servicebehavior" >
        
        <endpoint name ="SOAPEndPoint"
        contract ="Routing.IRoutingService"
        binding ="basicHttpBinding"
        address ="" />

        <endpoint name ="RESTEndPoint"
        contract ="Routing.IRoutingServiceRest"
        binding ="webHttpBinding"
        address ="rest"
        behaviorConfiguration ="restbehavior"/>

        <endpoint contract="IMetadataExchange"
        binding="mexHttpBinding"
        address="mex" />
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Routing/Service1/" />
          </baseAddresses>
        </host>
  
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>