<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WebProxy.GoBikingServiceImpl" behaviorConfiguration="mexBehavior">
        <endpoint address="/GoBikingService"
          binding = "webHttpBinding"
          contract="WebProxy.IGoBikingService"
          behaviorConfiguration="restbehavior"/>

        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Biking" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>